body {
  --color-primary: hsl(158, 64%, 52%);
  --color-primary-dark: hsl(158, 64%, 40%);
  --color-primary-light: hsl(158, 64%, 65%);

  --color-background: hsl(215, 15%, 16%);
  --color-background-dark: hsl(215, 15%, 5%);
  --color-background-light: hsl(215, 15%, 30%);

  --color-text: hsl(0, 0%, 93%);
  --color-text-dark: hsl(0, 0%, 20%);
}
